.font1{
    font-family: 'Patrick Hand';
    font-size: 25px;
}

.font2{
    font-family: 'Pacifico';
    font-size: 25px;
}

.font3{
    font-family: 'Quicksand';
    font-size: 25px;
}

.font4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.font5{
    font-family: 'Caveat Brush';
    font-size: 25px;
}

.bgcolor1 {
    background-color: white;
}

.bgcolor2 {
    background-color: #Dff3fd;
}

.bgcolor3 {
    background-color: #Fdf0c3;
}

.bgcolor4 {
    background-color: #Fde4f2;
}

.bgcolor5 {
    background-color: #d3c7ff;
}