.imageBox {
    display: inline-block;
    height: 25vh;
    width: 20vw;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#boxed-image img {
    display: block;
    height: 100%;
    width: 100%;
}

.imageWrapper {
    background-color: #f7ffba;
    height: 630vh;
    text-align: center;
}

.imageTitle {
    font-size: 40px;
    font-family: 'Nerko One';
    border-radius: 6px;
    color: #6b4f32;
    text-decoration: underline
}

.imageLink {
    background-color: #C89D85;
    color: black;
    font-size: 25px;
    font-family: 'Nerko One';
    border-radius: 7px;
    border: 2px solid black;
    cursor: pointer;
    text-decoration: none;
    margin-left: 75%;
    margin-right: 4%;
    padding: 8px;
    margin-top: 0.5%;
}

.imageLink:hover {
    background-color: #916A53;
    text-decoration: none;
    color: white;
}

.imageLink:active {
    background-color: #916A53;
    box-shadow: 0 3px black;
    transform: translateY(2px);
}

.buttonSearch {
    background-color: #C89D85;
    font-size: 20px;
    font-family: 'Nerko One';
    border-color: #6b4f32;
    line-height: 22px;
    border-radius: 6px;
    color: #6b4f32;
}

.buttonSearch:hover {
    background-color: #916A53;
    text-decoration: none;
    color: white;
}

.buttonSearch:active {
    background-color: #916A53;
    box-shadow: 0 3px black;
    transform: translateY(2px);
}

.inputText {
    font-size: 18px;
    font-family: 'Patrick Hand';
    border-color: #6b4f32;
    border-radius: 6px;
    color: #6b4f32;
}

.author {
    font-size: 18px;
    font-family: 'Nerko One';
    color: #6b4f32;
}