@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Nerko+One');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.login {
    background-color: #FFE9D1;
    height: 100vh;
}

.padding {
    padding: 70px 0;
}

.loginBlock {
    background-color: #916A53;
    padding: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border-radius: 10px;
    border: 3px solid #553726;
}

.titleBear {
    background-color: #e4bda6;
    padding: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #553726;
}

.bear {
    font-size: 25px;
}

.delta {
    font-size: 100px;
    font-family: 'Times New Roman';
}

.instr2 {
    color: #f5e5d5;
    font-family: 'Patrick Hand';
    font-size: 30px;
    text-align: center;
}

.instr3 {
    color: #f5e5d5;
    font-family: 'Patrick Hand';
    font-size: 20px;
    text-align: center;
}

.signInButton {
    background-color: #C89D85;
    font-size: 40px;
    font-family: 'Nerko One';
    border-radius: 7px;
    border-color: #6b4f32;
    line-height: 40px;
    color: #000000;
    margin-left: 35%;
    padding: 20px 40px;
    cursor: pointer;
}

.signInButton:hover {
    background-color: #50381f;
    text-decoration: none;
    color: #f5e5d5;
}

.signInButton:active {
    background-color: #50381f;
    box-shadow: 0 3px #000000;
    transform: translateY(2px);
}