@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Nerko+One');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

.page {
    background-color: white;
    height: 100vh;
}

.title2 {
    font-family: 'Shadows Into Light Two';
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 2.5px #F5E0EC;
    background-color: #E760A4;
    margin-top: -0.5%;
    letter-spacing: 4px;
    color: #F5E0EC;
}

.box5 {
    text-align: center;
    margin-left: 2%;
    width: 14vw;
    height: 4vh;
    padding: 20px;
    text-align: center;
    background-color: #FFE4F8;
    border-radius: 10px;
}

.text {
    font-family: 'Nerko One';
    font-size: 25px;
    text-align: baseline;
}

.input-search {
    height: 20px;
    font-size: 16px;
    text-align: center;
}

.data {
    font-family: 'Nerko One';
    font-size: 27px;
    text-align: center;
    margin-top: 2%;
}

.moods {
    font-family: 'Patrick Hand';
    font-size: 23px;
    text-align: center;
    font-weight: 900;
    background-color: #F8B3D1;
    border-radius: 5px;
}

.data-box2 {
    background-color: #F5E0EC;
    width: 18vw;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 40%;
}

.button5 {
    background-color: #F8B3D1;
    font-size: 30px;
    font-family: 'Nerko One';
    border-radius: 10px;
    border-color: #F5E0EC;
    cursor: pointer;
    line-height: 25px;
    margin-left: 2%;
    color: white;
}

.button5:hover {
    background-color: #E760A4;
}

.button5:active {
    background-color: #E760A4;
    box-shadow: 0 3px black;
    transform: translateY(2px);
}

.a2 {
    background-color: #F8B3D1;
    color: white;
    font-size: 25px;
    font-family: 'Nerko One';
    border-radius: 7px;
    border: 2px solid #F5E0EC;
    cursor: pointer;
    text-decoration: none;
    margin-left: 83%;
    margin-right: 4%;
    padding: 8px;
    margin-top: 0.5%;
}

.a2:hover {
    background-color: #E760A4;
    text-decoration: none;
    color: #F5E0EC;
}

.a2:active {
    background-color: #E760A4;
    box-shadow: 0 3px black;
    transform: translateY(2px);
}

.wrap-top3 {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: baseline;
}

.invalid {
    margin-left: 4%;
    font-family: 'Patrick Hand';
    font-size: 23px;
    font-weight: 900;
}