@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Nerko+One');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

.page {
    background-color: white;
    height: 100vh;
}

.title {
    font-family: 'Shadows Into Light Two';
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 2.5px black;
    background-color: #6588CB;
    margin-top: -0.5%;
    letter-spacing: 4px;
}

.box {
    text-align: center;
    margin-left: 2%;
    width: 20vw;
    height: 21vh;
    padding: 20px;
    text-align: center;
    background-color: #E3F0FF;
    border-radius: 10px;
}

.date {
    font-family: 'Nerko One';
    font-size: 25px;
}

.input {
    height: 20px;
}

.hour {
    font-family: 'Patrick Hand';
    font-size: 20px;
    line-height: 60px;
}

.wrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: -1%;
    margin-top: -1%;
}

.wrap-two {
    display: flex;
    justify-content: space-around;
    padding-top: 4.75%;
}

.button {
    background-color: #9DBDFF;
    font-size: 20px;
    font-family: 'Nerko One';
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    line-height: 25px;
}

.button:hover {
    background-color: #6588CB;
}

.button:active {
    background-color: #6588CB;
    box-shadow: 0 3px black;
    transform: translateY(2px);
  }

.a {
    background-color: #9DBDFF;
    color: black;
    font-size: 25px;
    font-family: 'Nerko One';
    border-radius: 7px;
    border: 2px solid black;
    cursor: pointer;
    text-decoration: none;
    margin-left: 83%;
    margin-right: 4%;
    padding: 8px;
    margin-top: 0.5%;
}

.a:hover {
    background-color: #6588CB;
    text-decoration: none;
    color: black;
}

.a:active {
    background-color: #6588CB;
    box-shadow: 0 3px black;
    transform: translateY(2px);
}

.wrap-top {
    display: flex;
    flex-direction:column;
}