@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Nerko+One');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

.page {
    background-color: white;
    height: 100vh;
}

.title4 {
    background-color: #916A53;
    color: #f5e5d5;
    font-family: 'Shadows Into Light Two';
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke: 2px #f5e5d5;
    letter-spacing: 3px;
}

.box6 {
    text-align: center;
    margin-left: 2%;
    width: 14vw;
    height: 4vh;
    padding: 20px;
    text-align: center;
    background-color: #f5e5d5;
    border-radius: 10px;
}

.text {
    font-family: 'Nerko One';
    font-size: 25px;
    text-align: baseline;
}

.input-search {
    height: 20px;
    font-size: 16px;
    text-align: center;
}

.data {
    font-family: 'Nerko One';
    font-size: 27px;
    text-align: center;
    margin-top: 2%;
}

.tasks {
    font-family: 'Patrick Hand';
    font-size: 23px;
    text-align: center;
    font-weight: 900;
    background-color: #C89D85;
    border-radius: 5px;
}

.data-box3 {
    background-color: #f5e5d5;
    width: 18vw;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 40%;
}

.wrap-top3 {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: baseline;
}

.button6 {
    background-color: #C89D85;
    font-size: 30px;
    font-family: 'Nerko One';
    border-radius: 10px;
    border-color: #f5e5d5;
    cursor: pointer;
    line-height: 25px;
    margin-left: 2%;
    color: #f5e5d5;
}

.button6.input-search {
    background-color: #916A53;
}

.button6:active {
    background-color: #916A53;
    box-shadow: 0 3px #916A53;
    transform: translateY(2px);
}

.a3 {
    background-color: #C89D85;
    color: #f5e5d5;
    font-size: 25px;
    font-family: 'Nerko One';
    border-radius: 7px;
    border: 2px solid #f5e5d5;
    cursor: pointer;
    text-decoration: none;
    margin-left: 83%;
    margin-right: 4%;
    padding: 8px;
    margin-top: 0.5%;
}

.a3:hover {
    background-color: #916A53;
    text-decoration: none;
    color: #f5e5d5;
}

.a3:active {
    background-color: #916A53;
    box-shadow: 0 3px #916A53;
    transform: translateY(2px);
}

.wrap-top3 {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: baseline;
}

.invalid {
    margin-left: 4%;
    font-family: 'Patrick Hand';
    font-size: 23px;
    font-weight: 900;
}